body{
    margin: 50px;
}

table{
    margin-bottom: 50px;
    border-collapse: collapse;
    width: 500px;
    text-align: center;
}

.cronograma th{
    background-color: black;
    color: white;
    border:solid black;
}
.cronograma td{
    border:solid black;
}

.cronograma tr:nth-child(5){
    background-color: lightblue;
}

.cronograma td:nth-child(1){
    background-color: rgb(56, 56, 56);
    color: rgb(196, 196, 196);
}

.campeonato{
    border: solid rgb(0, 0, 0);
}

.campeonato th{
    background-color: rgb(2, 92, 51);
    color: white;
    border: solid black;
}
.campeonato tr:nth-child(2){
    background-color: rgba(127, 110, 13, 0.688);
    color: rgb(255, 255, 255);
}
.campeonato td:nth-child(2){
    background-color: rgb(54, 148, 180);
    font-weight: bold;
}

.catalogo{
    border:5px solid black;
}

.catalogo th{
    background-color: gray;
    color: aliceblue;
    height: 50px;
}

.catalogo td{
    border:solid black;
}

.catalogo img{
    width: 90px;
}