body{
    margin: 0;
    padding: 0;
    background-color: #7cb1a1;
    color: #ffffff;
}
header{
    color: black;
    background-color: #f6f6f6;
    max-width: 100%;
    padding: 20px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
a{
    text-decoration: none;
    margin: 25px 25px;
    text-align: center;
    color: #7cb1a1;
}
h1{
    margin: 0;
    font-size: 2rem;
}

main {
    padding: 40px 20px;
    clear: both;
}

section{
    float: left;
}
article{
    color: black;
    margin: 20px;
    padding: 15px;
    background-color: aliceblue;
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

aside{
    color: black;
    float: right;
    margin: 20px;
    padding: 15px;
    background-color: #ffffff;
    width: auto;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
img{
    border-radius: 15px;
    height: 200px;
    width: 100%;
}

footer {
    clear: both;
    margin-top: 40px;
    padding: 20px;
    background-color: #ddd;
    color: #555;
    text-align: center;
}